<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>AdamDB</title>
</head>
<body>
  <h1> List Some Movies </h1>

  <form action="/films" method="POST">
    <input type="text" placeholder="name" name="name"> <br>
    <input type="text" placeholder="position" name="director"> <br>
    <button type="submit">Submit</button>
  </form>

  <br>

  <ul class = "films">
    <% for(var i = 0; i < films.length; i++) {%>
    <li class = "film">
        <span>Name: <%= films[i].status %></span><br>
        <span>director: <%= films[i].text %></span><br>
        <!-- this will be for delete -->
        <form method="post" action="/deleteFilm/<%= films[i]._id %>">
          <input type="submit" value = "Delete" onClick="return confirm('Want to Delete this film?')" />
        </form>
        <form method="post" action="/updateFilm/<%= films[i]._id %>">
          <input type="submit" value = "Update" onClick="return confirm('Please confirm updating the film')" />
        </form>
        <div> <br> </div>
    </li>
    <% } %>
  </ul>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="public/index.js"></script>

</html>